<%-include("parts/h") %>

<div style="text-align: right" class="container">
  <h1 style="font-size: 32px"><b>צור קשר</b></h1>
  <hr />
  <p style="font-size: 18px; color: black">
    אם אתם רוצים לדעת דברים נוספים או אם יש לכם שאלות כתבו לנו למספר 0528799399
  </p>
</div>
<%-include("parts/footer") %>
