<%-include("parts/header") %>
<style>
    body{
        background: #acb6e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    hr {
  border: 1px solid gray;
}

.logo {
    text-align: center;
 
  margin: 0 auto;
  font-family: "Fondamento";

}
.logo h1{
    font-weight: 100;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  font-size: 50px;
  padding-right: 6%;

}
.logo h3{
    color: gray;
}
.black{
    color: black;
}
.white{
    color: white;
}
#img{
    height: 25px;
}
a img{
    height: 100px;
    float: left;
    border-radius: 55px;
    margin: 5%;
}


@media only screen and (max-width: 600px){
    .logo h1{
   
  padding-right: 16%;

}
.logo{
    margin-top:17%;
}
.row{
        margin-left: 2%;
    }
}
@media only screen and (min-width: 600px){
    .row{
        margin-left: 10%;
    }

}



</style>
<div class="container">
    <form class="form-inline" action="/search/b/book" method="POST">
      <button type="submit">
        <i class="fa fa-search"></i>
      </button>
      <input
        type="search"
        class="search"
        placeholder="חפש/י ספר או מחבר/ת"
        name="s"
      />
    </form>
  </div>
<div class="container">
    <div class="logo">
        <hr />
             <h1>  <span id="imgspan"><img id="img" src="https://i.ibb.co/sHTW7vZ/download-removebg-preview-1.png"/></span>

                <span class="black">Book</span><span class="white">Fix</span></h1>
        <h3><b>ספרי יד שנייה</b></h3>
        <hr />
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-2">
            <a href="/romance">
                <img src="https://i.ibb.co/hYcLFT0/20201106-133412.jpg">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-2">
            <a href="/fantasy">
                <img src="https://i.ibb.co/ts5kdRd/20201106-133439.jpg">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-2">
            <a href="/horror">
                <img src="https://i.ibb.co/WxHfxQK/20201106-133502.jpg">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-2">
            <a href="/english">
                <img src="https://i.ibb.co/71pLKnT/20201106-133554.jpg">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-2">
            <a href="/reference">
                <img src="https://i.ibb.co/PwmzWv0/20201106-133606.jpg">
            </a>
        </div>
    </div>
</div>
<%-include("parts/footer") %>
