<%-include("parts/header") %>
<!--vars: arrBooks-->

<div class="container">
  <form class="form-inline" action="/search/b/book" method="POST">
    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
    <input
      type="search"
      class="search"
      placeholder="חפש/י ספר או מחבר/ת"
      name="s"
    />
  </form>
</div>

<div class="row container" id="homeDiv">
  <div>
    <hr />
    <h1>BookFix</h1>
    <h3><b>ספרי יד שנייה</b></h3>
    <hr />
  </div>

  <div class="container h" style="margin-top: 5%">
    <h1>קטגוריות</h1>

    <div>
      <div class="kat">
        <a class="col-lg-6 col-md-6 col-sm-12 thumbnail c" href="/romance"
          ><img src="https://s3.amazonaws.com/mypen/profiles/26206/1_160.jpg" />
          <div class="centered">רומנטיקה</div>
        </a>
      </div>
      <div class="kat">
        <a class="col-lg-6 col-md-6 col-sm-12 thumbnail c" href="/fantasy"
          ><img
            src="https://images.wallpaperscraft.com/image/pegasus_horse_magic_flowers_4777_1920x1080.jpg"
          />
          <div class="centered">פנטזיה</div>
        </a>
      </div>
      <div class="kat">
        <a class="col-lg-6 col-md-6 col-sm-12 thumbnail c" href="/horror"
          ><img src="https://wallpapercave.com/wp/5r6jdqL.jpg" />
          <div class="centered">מתח / אימה</div>
        </a>
      </div>
      <div class="kat">
        <a class="col-lg-6 col-md-6 col-sm-12 thumbnail c" href="/english"
          ><img
            src="https://cdn.babamail.co.il/Files/2012/6/10/16e681bb-7842-485e-bfaf-b8cbcc6cbfa5.jpg"
          />
          <div class="centered">אנגלית</div>
        </a>
      </div>
      <div class="kat">
        <a class="col-lg-6 col-md-6 col-sm-12 thumbnail c" href="/reference"
          ><img src="http://www.yo-yoo.co.il/pics/uploads/19a004.jpg" />
          <div class="centered">עיון</div>
        </a>
      </div>
    </div>
  </div>
</div>
<%-include("parts/footer") %>
