<%-include("parts/h") %>
<!--vars: arrBooks -->
<script>
  // addBook - input, bookOption - book,  addBookButton
</script>
<style>
    input[type="text"]::placeholder, textarea::placeholder, input[type="text"], textarea {  
                  
                  text-align: right; 
              } 
             
              hr{
                  width: 100%;
              }
              
              .lin a img {
  width: 30%;
  padding-left: 7%;
}
.bu{
  background-color: #007bff;
        border-color: #007bff;
        border-radius: 15px;
        color: antiquewhite; 
            font-size: 26px;
            
}
.payment {
  font-family: "Gentium Book Basic", serif;
  font-size: 25px;
  margin-bottom: 10%;
  line-height: 50px;
  color: black;
}

@media only screen and (max-width: 600px){
  .form-group{
                margin-bottom: 15%;
              }
              .payment{
                font-size: 15px;

              }
              .addBookButton {
    width: 16%;
  }
               }
               


             
              
</style>
<div style="text-align: right;" class="container">
  <h1 >הזמן ספר</h1>
  <hr />
    <div class="row payment">
      <p class="container">
        להזמנת הספר יש להעביר את סכום הכסף הנדרש באחת מהאפליקציות הבאות למספר 0528799399
        <br />
        <b>סכום הכסף הנדרש = </b> מחיר הספר/ים + מחיר המשלוח (10 שקלים)
        <br />
        


      </p>
      <div class="lin col-lg-8 col-md-7 col-sm-12">
        <a
          href="https://play.google.com/store/apps/details?id=com.pepper.pay&gl=IL
      "
          ><img src="https://www.payapp.co.il/images/pay.png" />
        </a>
        <a
          href="https://play.google.com/store/apps/details?id=com.bnhp.payments.paymentsapp

      "
          ><img
            src="https://lh3.googleusercontent.com/BN__QKzD-D7qsfgRFvLoDmGjGs8mdOvgxtZdYvvPhLKIfOXf7o5lT6xM_JzdiIJDeHpR"
          />
        </a>
        <a
          href="https://play.google.com/store/apps/details?id=com.payboxapp

      "
          ><img
            src="https://www.hon.co.il/wp-content/uploads/2019/09/%D7%A4%D7%99%D7%99%D7%91%D7%95%D7%A7%D7%A1.png"
          />
        </a>
      </div>
    </div>
  <form class="container" style="width: 90%; " action="/order/or" method="POST" >  
      <div class="form-group">
          <label>שם מלא</label>
        <input class="form-control" type="text" placeholder="שם מלא" name="order[name]" required />
      </div> 
      <div class="form-group">
        <label>מספר פלאפון</label>
        <input style="text-align: right;" class="form-control" type="tel" maxlength="10" placeholder="מספר פלאפון" name="order[phone]" required />
      </div>
      <div class="form-group">
        <label>כתובת שאליה ישלח הספר (כולל עיר)</label>
        <input class="form-control" type="text" placeholder="כתובת" name="order[address]" required />
      </div>
        <div class="form-group ">
        <input class="form-control addBook" style="width: 100%; text-align: right;" list="books" name="books">
        <datalist id="books">
          <% arrBooks.forEach(function(boo){ %>
            <option class="bookOption" value="<%=boo.writer%> - <%=boo.name%> ">
            <% }) %>
        </datalist>
        <button style="font-size: 14px; " class="bu addBookButton">הוסף</button>

      </div>

      
      <div class="form-group">
        <label>שם הספר/ים</label>
        <textarea class="form-control booklist" placeholder="שם הספר/ים" name="order[book]" required readonly></textarea>
      </div>
   
    
    
      <div class="form-group">
        <button style="width: 30%;
        height: 50px;             margin-left: 70%;
" type="submit" class=" bu">הזמן</button>
      </div>
    
      </div>
    </form>
    
</div>
<%-include("parts/footer") %>
