<nav class="nav bottomnav" >
  <div style="direction: rtl; margin-top: 3%;"><b>יצירת קשר
  <br>
  פלאפון: 052-8799399
  <br>
  מייל: shilat2132@gmail.com
  <br>
  <a href="https://instagram.com/bookfix1?utm_medium=copy_link"> או באינסטגרם bookfix1</a>
  </b></div>
  <div  style="margin-top: 5%;">
 <a class="linkt" href="/indexstories">Punchie Books</a> 
  <br>
<span>  זהו אתר בו עולים ספרים אלקטרוניים
  <br>
    מאת המחברת שילת אביה דהן</span>
</div>
<div style="margin-top: 5%;">
  <a class="linkt" href="/homebooks">Bookfix  </a>

    <br>
    <span>זהו אתר ספרי יד שנייה במצב טוב 
      <br>
      המציע משלוחים לכל רחבי הארץ</span>
</div>
</nav>
<script
  src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
