<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <!--botstrap cdn-->
    <link rel="stylesheet" href="/general.css" />
    <!--css file-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    
    <!--icons font awesome-->
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alef:wght@700&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Fondamento&family=Modak&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bookfix</title>
    <nav
    style="background-color: #AFEEEE; border-color: #AFEEEE; border-radius: 5px;"
    class="navbar navbar-inverse bg-danger navbar-fixed-top topnav"
  >
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-nav-demo"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/homebooks">Bookfix</a>
     
      
     
        
    </div>
    <div class="collapse navbar-collapse" id="bs-nav-demo">
      <div class="nav navbar-nav navbar-right">
        <ul style="padding-right: 10px" class="nav navbar-nav">
          <li> <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIG1QYJKoZIhvcNAQcEoIIGxjCCBsICAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYANeQoSNPHy3DDDtHSeEbQIXWhFys/zTKWFpwLP61wXyJ8ayUHmNmDeV/ZuWd9uPRKFxp1fqq0lO5M2+eX8PYXZFu6daremM6F4tCJ51XJ6l1tynLDGrRlgeF2yGUXm4EL+w+NoFwslz8dA9RxJ5Yq36xDBjzMwWjNqx5Y1wysbVjELMAkGBSsOAwIaBQAwUwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAg5QMyPPIqi0YAwBdu28i7c90wO0BjLBE91DDpPCy4SiHnUqW7Xsmc7lDiUJlomOmX8X48YY/JIMkwHoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMjIwMTE3MTkxNDI2WjAjBgkqhkiG9w0BCQQxFgQUDyTwYhs3UlY/vxnOQ/XEcKSwQWUwDQYJKoZIhvcNAQEBBQAEgYCc1K86twisCMVLEJngqtSPdyNA41sGIrljQlH7XulJB8a7dzpOfsqrBSxy4kMucRjx7n2FHl67V6We8iDuCZjyyF+MtAck6uUoJ0CcJD6qf4cd/GU21iFi3ptaem73qKg9LTDK4/Tj/oC3LNY1k6PMOfji644emjunasbv21WNwA==-----END PKCS7-----">
            <input class="cart" type="image" src="https://i.ibb.co/Cw0xmX4/project-20220117-2126241-01.png" border="0" name="submit" alt="PayPal - הדרך הקלה והבטוחה יותר לשלם באינטרנט!">
            <img alt="" border="0" src="https://www.paypalobjects.com/he_IL/i/scr/pixel.gif" width="1" height="1">
            </form></li>
          <li><a href="/רומנטיקה">רומנטיקה  </a></li>
          <li><a href="/פנטזיה">פנטזיה</a></li>
          <li><a href="/מתח">מתח</a></li>
          <li><a href="/אנגלית">אנגלית  </a></li>

          <li><a href="/indexstories">הספר שלי - דיגיטלי</a></li>
         
        </ul>
      </div>
    </div>
  </nav>
  
  </head>
  <body>
    <div  class="container searchdiv ">
      <form  method="post" action="/searchbook">
          <input style="text-align: center;" type="search" class="searchbar" placeholder="חיפוש ספר או מחבר/ת" name="searchinput"> <input style="color: black; border-radius: 25px;" type="submit" value="חיפוש" class="searchsubmit"> 
      </form>
  </div>
  </body>
</html>
