.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: white;
  font-family: "Fondamento";
}

.navbar-inverse .navbar-brand {
  font-size: 25px;
}

.navbar-inverse .navbar-nav > li > a {
  font-size: 20px;
  text-align: right;
}
.container .cat {
  text-align: right;
  color: plum;
}
#no {
  text-align: right;
  margin: 0 auto;
  color: black;
}

.thumbnail {
  border: none;
  height: 250px;
  margin-top: 5%;
  margin-bottom: 10%;
}

body {
  padding-top: 70px;
}

.search {
  width: 70%;
  border-radius: 15px;
  text-align: right;
  height: 45px;
}

form {
  text-align: right;
  font-size: 20px;
}
label {
  text-align: right;
  color: black;
  text-shadow: none;
}
button {
  background-color: plum;
  border-color: plum;
  color: white;
  border-radius: 150px;
}
hr {
  border: 1px solid plum;
}

.centered {
  position: relative;
  line-height: 1.7;
  color: black;
}
.c > img {
  height: 90%;
  width: 60%;
  border-radius: 10px;
}
@media only screen and (min-width: 600px) {
  .centered {
    font-size: 18px;
  }
}
@media only screen and (max-width: 600px) {
  .search {
    width: 85%;
  }
  .cat {
    font-size: 28px;
  }
  .sercButton {
    width: 12%;
  }
  .c {
    width: 50%;
    float: left;
  }
  .thumbnail {
    height: 170px;
    margin-bottom: 42%;
  }
  .c > img {
    width: 84%;
    height: 100%;
  }
}
