/* computer */

@media only screen and (min-width: 600px) {
    .bottomnav{
        height: 130px;
    }
    .morewriter{
        font-size: 33px;
    }
    .tak{
        font-size: 32px;
    }
   
    .botdiv{
        float: right;
margin-top: 2%;
margin-left: 5%; 
padding-right: 10px;
border-right: 3px solid white;
}
.summary{
    width: 65%;
margin-right: 20%;
margin-top: 3%;}

.botcontent{
    padding-right: 18%;
}
.indexpic{
    height: 270px;}

.title{
    font-size: 50px;
}
.showpic {
    height: 265px;
    border-radius: 20px;

   
}
.showcover{
    height: 260px;
    border-radius: 20px;
}
.storyname{
    font-size: 36px;

}
.additional{
    margin-top: 4%;
  

}
.searchbar{
    width: 70%;
}}
   


/* PHONE */
@media only screen and (max-width: 600px) {
    .bottomnav{
        height: 290px;
    }
    .tak{
        font-size: 24px;
        font-family: 'Alef', sans-serif;
    }
    .additional{
        margin-top: 17%;
      
    
    }
    .showpic {
        height: 165px;
       
    }
    .info{
        margin-top: 6%;
    }
    .morewriter{
        font-size: 23px;
    }
    .botdiv{
        margin-top: 5%;
        
    }
    .storyname{
        font-size: 28px;
    
    }
    .indexlink{
        width: 45%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 5%;
    }
    .indexpic{
        height: 190px;}
        .title{
            font-size: 30px;
        
        }
        .showcover{
            height: 260px;
            border-radius: 20px;
        }
        .summary{
            margin-top: 8%;
        }
}


/* general */
body{
    direction: rtl;
        padding-top: 70px;
        text-align: center;

}

.searchsubmit{
    background-image: url(https://i.ibb.co/ZKJXhLd/project-20220118-1721570-01.png);
    height: 36px;
}
.searchbar{
    border-radius: 25px;
    height: 36px;

}
.cart{
    height: 44px;
}
.bottomnav{
    background-color: #AFEEEE; border-color: #AFEEEE; border-radius: 5px;  margin-top: 8%;
  }
   .linkt{
    color: whitesmoke;
    font-size: 22px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;  }

  .bottomnav span{
font-family: 'Times New Roman', Times, serif;
line-height: 25px; 
font-size: 17px;   }

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
color: white;
font-family: "Fondamento";
font-size: 15px;
}

.navbar-inverse .navbar-brand {
font-size: 25px;
}

.navbar-inverse .navbar-nav > li > a {
font-size: 20px;
text-align: center;
font-family: 'Tinos', serif;
}
.hr{
  width:80%;
  margin-top: 0px;
  border:1px solid #AFEEEE ;
  background-color: #AFEEEE;

}

/* logos */
.logopic{
height: 170px;
border-radius: 18px;
margin-bottom: 5%;
margin-top: 5%;

}




/* BOOKFIX HOME */
.catagorypics{
    height: 120px;
    margin-bottom: 6%;
border-radius: 30px;
}

/*  BOOKS AND STORIES INDEX */
.title{
    font-family: 'Alef', sans-serif;
}
 .info, .showinfo{
     text-align: center;
     color: black;
 }

.indexpic{
    border-radius: 18px;

}

.booksindex .info{
    font-size: 13px;

}



.index{
    margin-top: 3%;
}




.booksindex{
    float: right;
}
.indexlink{
    text-align: center;
margin-bottom: 10%;

} 

/* SHOW STORY AND BOOK */
.additional{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 70px;

}

.showinfo {
    margin-top: 5%; line-height: 27px; font-size: 16px; font-weight: 700;
}
.showpic {
    margin-top: 3%;
    border-radius: 30px;
}
.storyname{
    font-family: 'Alef', sans-serif;

}
#summary{
    direction: rtl;

}

.innersum{
    line-height: 30px;
    margin-right: 15px;
    font-family: 'Secular One', sans-serif;
    margin-left: 3%;
    font-size: 18px;
    text-align: justify;




}
.tak{
    font-family: 'Alef', sans-serif;
}

.seriescol{
    margin-top: 15%;
}

.morewriter{
    font-family: 'Alef', sans-serif;
}

.paypic{
    height: 39px;
    border-radius: 36px;
    margin-top: 3%;
}



