#homeDiv {
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
#homeDiv h1 {
  font-weight: 100;
  font-size: 50px;
  margin: 0px;
}
#homeDiv h3 {
  text-align: center;
  color: gray;
  margin: 0px;
}
.payment {
  margin-bottom: 10%;
  display: none;
  font-family: "Fondamento";
}
.bold {
  font-size: 30px;
}
.payment p {
  font-size: 23px;
  line-height: 60px;
}
.b,
.b img {
  height: 150px;
}

.h h1 {
  text-align: right;
  font-size: 40px;
  font-weight: 700;
}

hr {
  border: 1px solid gray;
}

.row {
  font-family: "Fondamento";
  color: black;
}
.search {
  width: 70%;
  border-radius: 15px;
  text-align: right;
  height: 45px;
}
@media only screen and (min-width: 600px) {
  .centered {
    font-size: 37px;
  }
  .banks {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .centered {
    font-size: 3rem;
  }
  .b,
  .b img {
    height: 100px;
    float: left;
  }

  #homeDiv h1 {
    font-size: 30px;
  }
  .search {
    width: 85%;
  }
  form button {
    width: 10%;
  }
}

form {
  text-align: right;
  font-size: 20px;
}
button {
  background-color: #007bff;
  border-color: #007bff;
  color: antiquewhite;
  border-radius: 150px;
}

.thumbnail {
  border: none;
}

.c img {
  border-radius: 20px;
  margin-top: 6%;
  height: 250px;
  width: 90%;
  margin-right: 5%;
}

.centered {
  position: relative;
  color: black;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: antiquewhite;
  font-family: "Fondamento";
}

.navbar-inverse .navbar-brand {
  font-size: 25px;
}

.navbar-inverse .navbar-nav > li > a {
  font-size: 20px;
  text-align: right;
}

body {
  padding-top: 70px;
}
