.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: antiquewhite;
  font-family: "Fondamento";
}

.navbar-inverse .navbar-brand {
  font-size: 25px;
}

.navbar-inverse .navbar-nav > li > a {
  font-size: 20px;
  text-align: right;
}
body {
  padding-top: 70px;
}
.search {
  width: 70%;
  border-radius: 15px;
  text-align: right;
  height: 45px;
  font-size: 20px;
}
form {
  text-align: right;
}
button {
  background-color: #007bff;
  border-color: #007bff;
  color: antiquewhite;
  border-radius: 150px;
}
.container {
  text-align: right;
}
hr {
  border: 1px solid #17a2b8;
  width: 30%;
  margin-right: 0px;
}
.payment {
  margin-bottom: 10%;
  display: none;
}

.payment p {
  font-size: 23px;
}
.sumP {
  font-family: "Gentium Book Basic", serif;
}
hr h1 {
  margin: 0px;
}
.sum {
  width: 100%;
  margin-top: 5px;
  border: 1px solid gray;
}
.centered {
  position: relative;
  line-height: 1.7;
  color: black;
  text-align: center;
}
.book {
  margin-left: 40%;
  margin-top: 3%;
  width: 20%;
}
.book img {
  height: 360px;
}
/* .di {
  border-radius: 35px;
  background: #9cecfb;
  background: -webkit-linear-gradient(to right, #0052d4, #65c7f7, #9cecfb);
  background: linear-gradient(to right, #0052d4, #65c7f7, #9cecfb);
} */
.thumbnail {
  border: none;
  text-align: center;
  width: 20%;
  margin-bottom: 10%;
  height: 250px;
}
.caption {
  text-align: center;
}
.dib {
  font-family: "Bangers", cursive;
  font-size: 45px;
  padding-right: 3%;
}
#cap {
  font-size: 26px;
  font-weight: bold;
}
.shadow {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 20px rgba(0, 0, 0, 0.1);
}
.thumbnail #image {
  margin: 0 auto;
  height: 100%;
  width: 70%;
}

.lin a img {
  width: 30%;
  padding-left: 7%;
}

img {
  border-radius: 10px;
}

#bs-nav-demo {
  margin-right: 45px;
}

@media only screen and (min-width: 600px) {
  .centered {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .search {
    width: 85%;
  }
  form button {
    width: 10%;
  }
  .c {
    width: 50%;
    float: left;
  }
  .thumbnail {
    height: 170px;
    margin-bottom: 25%;
  }
  .c > img {
    width: 79%;
  }
}
