.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: antiquewhite;
  font-family: "Fondamento";
}

.navbar-inverse .navbar-brand {
  font-size: 25px;
}

.navbar-inverse .navbar-nav > li > a {
  font-size: 20px;
  text-align: right;
}
body {
  padding-top: 70px;
}
.search {
  width: 70%;
  border-radius: 15px;
  text-align: right;
  height: 45px;
  font-size: 20px;
}
.payDiv form {
  height: 30px;
}
.payDiv input {
  height: 26px;
}
.wid input {
  margin-bottom: 45%;
}

form {
  text-align: right;
}

#searchButton {
  background-color: #007bff;
  border-color: #007bff;
  color: antiquewhite;
  border-radius: 150px;
  height: 34px;
  width: 34px;
}
.container {
  text-align: right;
}
.bodycontainer,
.bottomcontainer {
  margin-bottom: 5%;
}

.sump {
  font-family: "Gentium Book Basic", serif;
  font-size: 25px;
  display: none;
  margin-bottom: 5%;
  margin-right: 2%;
  margin-left: 10%;
  line-height: 50px;
  text-align: center;
}
.order a {
  margin-right: 3%;
}
.sumButton {
  border: none;
  background-color: white;
}
.order a,
.sumButton {
  font-size: 35px;
  color: black;
}

hr,
.order hr {
  width: 90%;
  margin-right: 2%;
  margin-top: 5px;
  border: 1px solid gray;
}
.centered {
  position: relative;
  line-height: 1.7;
  color: black;
  text-align: center;
}

.book img {
  margin-right: 40%;
  margin-top: 3%;
  height: 360px;
}

.thumbnail {
  border: none;
  text-align: center;
  width: 20%;
  margin-bottom: 10%;
}
.c img,
.c {
  height: 210px;
}
.dib {
  font-family: "Bangers", cursive;
  font-size: 45px;
  padding-right: 3%;
}
#morebooks {
  font-size: 36px;
  font-family: "Bangers", cursive;
  font-weight: 900;
}
.shadow {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 20px rgba(0, 0, 0, 0.1);
}

img {
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {
  .centered {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .search {
    width: 85%;
  }

  .wid input {
    height: 28px;
  }
  .sump {
    font-size: 17px;
  }

  .pCentered {
    margin-right: 29%;
  }
  form button {
    width: 10%;
  }
  .book img {
    height: 250px;
  }
  .book {
    margin-left: 27%;
  }
  .order a,
  .sumButton {
    font-size: 18px;
  }
  .dib {
    font-size: 21px;
  }
  #morebooks {
    font-size: 22px;
  }
  .c {
    width: 50%;
    float: left;
    height: 170px;
    margin-bottom: 42%;
  }
  .c > img {
    height: 168px;
  }
}
