<%-include("parts/h") %>
<div class="container">
    <form action="/foodCr" method="POST">
        <h2>Create a new food</h2>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="שם המאכל" name="food[name]" />
          </div>   
      <div class="form-group">
        <select class="form-control" name="food[state]">
          <option>חלבי</option>
          <option>בשרי</option>
          <option>פרווה</option>
        </select>
      </div>

      <div class="form-group">
        <select class="form-control" name="food[catagory]">
          <option> מאפים וקינוחים</option>
          <option>פשטידות</option>
          <option>צהריים</option>
          <option>תוספות לארוחות</option>
          <option>חלבי</option>
          <option>סלטים</option>
        </select>
      </div>
    
    <div class="form-group">
      <textarea class="form-control" placeholder="מצרכים" name="food[ingridiants]"></textarea>
    </div>
       
      <div class="form-group">
        <textarea class="form-control" placeholder="אופן הכנה" name="food[making]"></textarea>
      </div>
     
    
      <div class="form-group">
        <input type="submit" class="form-control">
      </div>
    

    </form>
  </div>

    <%-include("parts/footer") %>
