<%-include("parts/h") %>
<!-- vars: currentFood -->

<div class="container">
    <a href="/editFood/<%=currentFood._id%>">עריכת מתכון</a>
<h2><%=currentFood.name%></h2>
<hr>
</div>
<%-include("parts/footer") %>
