<%-include("parts/showsthead") %>
<div class="container">
    <form action="/songcr" method="POST">
        <h2>Create a new song</h2>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="שם השיר" name="song[name]" />
          </div>   
          <div class="form-group">
            <input class="form-control" type="text" placeholder="שם הזמר" name="song[singer]" />
          </div>

    
    
    <div class="form-group">
      <textarea class="form-control" placeholder="מילות השיר" name="song[lyrics]"></textarea>
    </div>
    <div class="form-group">
      <select class="form-control" name="song[series]"><option value="true">true</option>
      <option value="false">false</option>
      </select>
    </div>
     
     
    
      <div class="form-group">
        <input type="submit" class="form-control">
      </div>
    

    </form>
  </div>

    <%-include("parts/footer") %>
