<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <!--botstrap cdn-->
    <link rel="stylesheet" href="/general.css" />
    <!--css file-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--icons font awesome-->
    <!--fonts-->

    <link
      href="https://fonts.googleapis.com/css2?family=Fondamento&family=Modak&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bookfix</title>
    <nav
    style="background-color: #AFEEEE; border-color: #AFEEEE; border-radius: 5px;"
    class="navbar navbar-inverse bg-danger navbar-fixed-top"
  >
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-nav-demo"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Bookfix</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-nav-demo">
      <div class="nav navbar-nav navbar-right">
        <ul style="padding-right: 10px" class="nav navbar-nav">
          <li><a href="/homebooks">ספרי יד שנייה</a></li>
          <li><a href="/indexstories">הספר שלי - דיגיטלי</a></li>
         
        </ul>
      </div>
    </div>
  </nav>
  </head>
  <body></body>
</html>
