.title{
    font-size: 14px;
}
.subtitle{
    font-size: 13px;
}

.cardBody{
    padding: unset !important;
}

.row{
    width: 85%;
    margin-top: 4% !important;
    margin: auto;
}

.cardText{
    font-size: 13px;
    white-space: pre-line;
}
.commentCard{
    margin: 3%;
    margin-bottom: 4% !important;
    text-align: right;
    padding: 7px;
}

.commentsSection{
    margin-top: 7%;
}

.titles{
    margin-bottom: 3%;
}

@media screen and (max-width: 576px) and (min-width: 430px)  {
    .commentCard{
        width: 70%;
        margin: auto;
    }
}
