.title{
    font-size: 14px;
    
}


.cover{
    border-radius: 10px;
    margin: auto;
    max-height: 186px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.card{
    border: none;
    text-align: center;
}


.text{
    font-size: 12px;
    font-weight: 500;
    
}
.author{
    font-size: 12px;
}


@media screen and (min-width: 345px) {
    .cover{
        max-width: 125px;

    }
  }

 