<nav class="nav bottomnav" >
  <div class="container botcontent">
  <div class="botdiv" style="direction: rtl;"><b>יצירת קשר
  <br>
  פלאפון: 052-8799399
  <br>
  מייל: shilat2132@gmail.com
  <br>
  או באינסטגרם
  <a href="https://instagram.com/bookfix1?utm_medium=copy_link">  bookfix1</a>
  <br>
  <a href="https://www.instagram.com/shilat.author/">  shilat.author</a>

  </b></div>
  <div class="botdiv">
 <a class="linkt" href="/indexstories">Punchie Books</a> 
  <br>
<span>  זהו אתר בו עולים ספרים דיגיטליים
  <br>
    מאת המחברת שילת אביה דהן</span>
</div>
<div class="botdiv" >
  <a class="linkt" href="/homebooks">Bookfix  </a>

    <br>
    <span>זהו אתר ספרי יד שנייה במצב טוב 
      <br>
      המציע משלוחים לכל רחבי הארץ</span>
</div>
</div>
</nav>
<script
  src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
