<nav class="nav bottomnav" >
  <div class="container botcontent">
  <div class="botdiv" style="direction: rtl;"><b>יצירת קשר
  <br>
  פלאפון <a href="tel:+972528799399">052-8799399</a>
  <br>
מייל <a href="mailto: shilat2132@gmail.com">shilat2132@gmail.com</a> 
  <br>
  או באינסטגרם
  <a href="https://www.instagram.com/shilat.author/">  shilat.author</a>

  </b></div>
  <div class="botdiv">
 <a class="linkt" href="/indexstories">Punchie Books</a> 
  <br>
<span>   ספרים דיגיטליים מאת שילת דהן
</div>
<div class="botdiv" >
  <a class="linkt" href="/homebooks">Bookfix  </a>
    <br>
    <span> ספרי יד שנייה </span>
</div>

<div style="color:#F0FFFF; text-align: center; font-size: 12px; font-weight: 800; margin-top: 5%; margin-bottom: 4%;" class="power container">  powered by   <a href="https://www.instagram.com/shilat.author/">  shilat.author</a>
</div>
</div>


</nav>
<script
  src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
